body* {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* Eliminé el padding-bottom */
    min-height: 100vh; /* Agregué esto */
    display: flex; /* Agregué esto */
    flex-direction: column; /* Agregué esto */
}

.title {
    color: #333333;
    text-align: center;
    padding: 20px 0;
    margin-top: -20px 0;
    background-color: blue;
}
.botom {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.alejo {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    margin-top: -30px;
    text-align: center;
}

.sub-tittle {
    color: #333333;
    width: 10%;
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.text {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #666666;
    margin: 20px;
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.sub-tittle2 {
    color: #333333;
    width: 15%;
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.hobbies {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666666;
    margin: 20px;
}

.cuadrado {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Esto empuja el footer al final */
}
.albums {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.texto{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666666;
    gap: 13rem;
    margin: -20px;
}
.imagenes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}
.imagenes img {
    max-width: 300px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    gap: 20px;
}
.botom2{
    display: block;
    font-size: 1.7rem;
    text-decoration: none;
    display: flex;
    justify-content: right;
    color: white;
    padding: 4px;
    margin-top: 10px;
    border-radius: 7px;
    width: 6%;
    background-color: #35424a;
}